body {
    text-align: center;
    background-color: orange;
}

img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.line {
    height: 6px;
    background-color: aquamarine;
    width: 150px;
    margin: 8px auto;
}

.menu {
    list-style: none;
    font-family: cursive;
    float: right;
    top: 10px;
    right: 30px;
    cursor: pointer;
    color: aqua;
}
li{display: inline}